@media all and (min-width: 1024px) {
  #wrap {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  #wrap #header.login-on {
    position: absolute;
    width: calc(100% - 300px);
  }
  #wrap #header.login-on .headLeft {
    display: none;
  }
  #wrap #header.login-on .headRight {
    width: 100%;
  }
  #wrap #header.login-on .headRight .home-btn {
    position: absolute;
    left: 10px;
    height: auto;
  }
  #wrap #header.login-on .headRight .menu-btn {
    display: none;
  }
  #wrap #header.login-on .searchspace {
    padding: 0;
    padding-left: 10px;
  }
  #wrap #header.login-on .searchspace .hashTag {
    display: block;
  }
  #wrap nav#main-menu {
    position: absolute;
    width: 300px;
    min-width: auto;
    left: calc(100% - 300px);
    color: #fff;
    transition: none;
  }
  #wrap nav#main-menu header {
    display: none;
  }
  #wrap nav#main-menu section {
    display: block;
    height: calc(100% - 30px);
    background: #444;
    margin: 15px;
  }
  #wrap nav#main-menu section aside {
    width: 100%;
    height: auto;
    padding: 50px 0;
  }
  #wrap nav#main-menu section article {
    width: 100%;
    overflow: auto;
  }
  #wrap nav#main-menu section article h2 {
    padding: 10px 15px;
  }
  #wrap nav#main-menu section article h2 span {
    display: inline;
  }
  #wrap nav#main-menu section article ul li a {
    padding: 0 20px;
  }
  #wrap nav#main-menu section .module-btn {
    bottom: 15px;
  }
  #wrap nav#main-menu section a {
    color: #fff;
  }
  #wrap.menu_on nav#main-menu {
    left: calc(100% - 300px);
  }
  #wrap main {
    width: calc(100% - 300px);
    padding-top: 175px;
  }
  #wrap main#login-main.myPage-change {
    width: calc(100% - 300px);
    padding-top: 170px;
  }
  #wrap footer#footer.login-on {
    width: calc(100% - 300px);
  }
}