@media all and (min-width: 768px) {
  #wrap #header.login-on {
    font-size: 25px;
  }
  #wrap #header.login-on .searchspace {
    display: block;
    padding: 0 15px 10px 15px;
    text-align: center;
  }
  #wrap #header.login-on .searchspace .searchDiv {
    position: relative;
  }
  #wrap #header.login-on .searchspace .searchDiv input {
    width: calc(100% - 100px);
    border-style: none;
    background: #a6a6a6;
    color: #fff;
    font-size: 20px;
    padding: 9px 15px 9px 50px;
    border-radius: 14.1px;
  }
  #wrap #header.login-on .searchspace .searchDiv input:focus {
    background-color: #fff;
    color: #000;
  }
  #wrap #header.login-on .searchspace .searchDiv button {
    border-style: none;
    font-size: 20px;
    width: 80px;
    height: 45px;
    border-radius: 11.4px;
    margin-left: 15px;
    background: #555;
    color: #fff;
    cursor: pointer;
  }
  #wrap #header.login-on .searchspace .searchDiv span {
    position: absolute;
    top: 10px;
    left: 9.1px;
    font-size: 30px;
    color: #75777a;
  }
  #wrap main {
    padding-top: 135px;
  }
  #wrap main#mainPage section.tight-schedule,
  #wrap main#mainPage section.timeLine-dol {
    width: 50%;
  }
  #wrap main#login-main section.login-section .differLink a {
    font-size: 20px;
  }
  #wrap main#login-main.myPage-change {
    padding-top: 140px;
  }
  #wrap main#dolRegist {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #wrap main#dolRegist form {
    width: 500px;
    margin: 15px;
    border: 1px solid rgb(214, 214, 214);
  }
}